.inspector-panel {
    -fx-background-color: #202326;
    -fx-border-radius: 14px;
    -fx-background-radius: 14px;
    -fx-padding: 10 14 8 16;
    -fx-effect: dropshadow(gaussian, #222c2160, 10, 0.1, 0, 2);
}

.inspector-header {
    -fx-font-size: 15.2px;
    -fx-font-weight: bold;
    -fx-text-fill: #38e37d;
    -fx-padding: 0 0 2 0;
}

.proto-badge, .risk-badge {
    -fx-font-size: 11.5px;
    -fx-font-weight: bold;
    -fx-background-radius: 7;
    -fx-padding: 1 12 1 12;
    -fx-border-width: 0;
}

.hex-dump {
    -fx-background-color: #191c1f;
    -fx-font-family: 'Consolas', monospace;
    -fx-font-size: 11.3px;
    -fx-text-fill: #d6ffd8;
    -fx-background-radius: 7px;
    -fx-padding: 7 8 7 12;
}

.inspector-panel .button {
    -fx-background-color: #38e37d;
    -fx-text-fill: #151e15;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 3 12 3 12;
    -fx-font-size: 11.5px;
}

.inspector-panel .button:hover {
    -fx-background-color: #51ffab;
    -fx-text-fill: #131b14;
    -fx-effect: dropshadow(gaussian, #33e39777, 5, 0.2, 0, 1);
    -fx-cursor: hand;
}
