.sidebar-panel {
    -fx-background-color: #1a2022;
    -fx-border-color: #212829;
    -fx-border-width: 0 1 0 0;
}

.sidebar-title {
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-text-fill: #7ffe9c;
    -fx-padding: 0 0 16 2;
    -fx-effect: dropshadow(gaussian,#19351b,1,0,0,1);
}

.sidebar-btn {
    -fx-background-color: #23272b;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-text-fill: #cbeff0;
    -fx-font-size: 14px;
    -fx-padding: 7 0 7 14;
    -fx-cursor: hand;
    -fx-border-color: #2ce98f;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian,#123516,0.4,0,0,1);
    -fx-alignment: center-left;
}
.sidebar-btn:hover {
    -fx-background-color: #272f2a;
    -fx-text-fill: #7ffe9c;
}
.stop-btn {
    -fx-background-color: #ff3856;
    -fx-text-fill: #fff;
    -fx-border-color: #fa6e9e;
}
.stop-btn:hover {
    -fx-background-color: #ce1e36;
    -fx-text-fill: #fff;
}
