.stats-panel {
    -fx-background-color: linear-gradient(to bottom, #23282d 90%, #1e2328);
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-border-color: #2e3731;
    -fx-border-width: 1.5px;
    -fx-effect: dropshadow(gaussian, #1b3d24aa, 4, 0.18, 0, 2.2);
}

.stats-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #39ff9e;
    -fx-padding: 0 0 8 0;
}

#stats-chart {
    -fx-background-color: transparent;
    -fx-border-color: #393f39;
    -fx-border-width: 1.2px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.stats-btn {
    -fx-background-color: #29e389;
    -fx-background-radius: 9px;
    -fx-text-fill: #1b2320;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 9 0 9 0;
    -fx-cursor: hand;
    -fx-border-width: 1.3px;
    -fx-border-color: #47b97f;
    -fx-border-radius: 9px;
    -fx-effect: dropshadow(gaussian, #34c75932, 1.2, 0.11, 0, 1);
    -fx-transition: all 0.15s;
}
.stats-btn:hover {
    -fx-background-color: #20c066;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
}

.total-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #b2ffe5;
    -fx-padding: 3 0 5 0;
}
