.topbar-panel {
    -fx-background-color: linear-gradient(to bottom, #27292c99, #212427ee 65%);
    -fx-border-color: #2d2d2d;
    -fx-border-width: 0 0 2px 0;
    -fx-alignment: center-left;
    -fx-effect: dropshadow(gaussian, #15181844, 3, 0.2, 0, 2);
}

.topbar-title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #48fa92;
    -fx-padding: 0 18 0 10;
    -fx-effect: dropshadow(gaussian, #181f185a, 2, 0.4, 0, 2);
}

.filter-chip {
    -fx-background-color: #262b2d;
    -fx-border-color: #70fa95;
    -fx-border-radius: 11px;
    -fx-background-radius: 11px;
    -fx-text-fill: #70fa95;
    -fx-font-size: 12px;
    -fx-padding: 1 9 1 9;
    -fx-effect: dropshadow( gaussian , #222  , 1 , 0.08 , 0 , 1 );
}
.filter-chip:selected, .filter-chip:focused {
    -fx-background-color: #70fa95;
    -fx-text-fill: #23272b;
    -fx-border-color: #23272b;
}

.filter-chip:hover {
    -fx-background-color: #35d586;
}

.search-field {
    -fx-background-color: #1e2327;
    -fx-border-color: #48fa92;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-size: 14px;
    -fx-padding: 0 10 0 10;
    -fx-text-fill: #e3fae9;
}

.ai-btn {
    -fx-background-color: #1e2022;
    -fx-text-fill: #48fa92;
    -fx-font-weight: bold;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 7 18 7 18;
    -fx-effect: dropshadow(gaussian, #48fa9288, 0.6, 0.25, 0, 1.2);
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-transition: all 0.2s;
}
.ai-btn:hover {
    -fx-background-color: #48fa92;
    -fx-text-fill: #1e2327;
    -fx-effect: dropshadow(gaussian, #48fa9288, 2, 0.3, 0, 3);
}

.auto-scroll-toggle {
    -fx-font-size: 13px;
    -fx-text-fill: #b4dbbb;
    -fx-padding: 0 5 0 8;
}
